{% extends 'Base.html' %} 
{% load static %}
{% block myblock %}
<div class="row">
    <div class="col-md-12 px-0">
        <img src="{% static 'images/nature1.jpg' %}" style="height:400px" alt="">
    </div>
    <div class="col-md-12 text-center ">
        <h1><strong>ABOUT PAGE</strong></h1>
        <p><em>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam quasi veniam tempora ratione, ullam asperiores facere ab dolor mollitia molestias quos dignissimos, sapiente temporibus alias nostrum suscipit possimus? Sequi, quibusdam?</em></p>
    </div>
</div> 
{% endblock %}