{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto bg-light my-4">
            <h1 class="text-center">Add Product</h1>
            <hr>
            <!-- {{form.as_p}}    for data show in paragraph  form -->
            <!-- <table>
            {{form.as_table}}
            </table> -->
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Add Product" class="btn btn-primary rounded-pill" name="" id="">
            </form>
        </div>
    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/my_products/";
</script>

{% endif %}

{% endblock %}