{% extends "Base.html" %}
{% load static %}
{% block head %}
    <style>
        th{
            width: 40%;
        }
        .hover:hover{
            box-shadow: 0px 0px 10px black;scale: 2.3;
        }
    </style>    

{% endblock %}
{% block myblock %}
    <div class="container-fluid " style="background: url('/static/images/c2.jpg'); background-size: 100% 100%;">
        <div class="row py-5 " style="background: rgba(0, 0,0,0.5);">
            <div class="col-md-12 text-center text-light my-4 px-0">
                {% if abcd %}
                <h1>Total ({{products|length}}) Products Found </h1>
                {% else %}
                <h1>Product Details({{products|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-4">
        {% for i in products %}
            <div class="col-md-4">
                <div class="m-5 hover text-center " style="border: 1px solid black;">
                    <img src="/media/{{i.product_image}}" style="height: 300px; width:100%;" alt="">
                    <hr style="border: 1px solid black">
                    <h2 style="color: blue;">
                        <a href="{% url 'single_product' %}?pid={{i.id}}">{{i.product_name}}</a>
                    </h2>
                    <h4>
                        <span><del>&#8377; {{i.product_price}}</del></span>
                        <span>&#8377; {{i.sale_price}}</span>
                    </h4>
                    <h5><strong>{{i.product_category.name}}</strong></h5>
                    <form action="{% url 'add_to_cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{i.id}}" name="pid" id="">
                        <input type="hidden" value="1" name="qty" id="">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fa fa-shopping-cart">     Add To Cart</i>
                        </button>
                    </form>
                </div>

            </div>

        {% endfor %}
           
        </div>
    </div>

{% endblock %}