<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <style>
        img{
            width:100%;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 ">
                <nav class="navbar navbar-expand bg-primary navbar-dark">
                    <a href="" class="navbar-brand"><em>My Website</em></a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url   'index' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about'%}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact'%}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'all_products'%}" class="nav-link">All Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle " data-toggle="dropdown">categories</a>
                            <div class="dropdown-menu">
                                {% for c in category%}
                                <a href="{% url 'all_products' %}?cat={{c.id}}" class="dropdown-item">{{c.name}}</a>

                                {% endfor%}
                            </div>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'cust_dashboard' %}" class="nav-link">Welcome {{user.username}}</a>
                        </li>

                        {% else %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'reg'%}" class="btn btn-outline-light">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class=" btn btn-outline-light " data-toggle="modal"
                    data-target="#mymodal">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="modal"  id="mymodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'user_login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="username" placeholder="Enter Username"  class="form-control">
                                        </div>                                       
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="password" name="password" placeholder="Enter Password"  class="form-control">
                                        </div>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="rme" ><label for="">Remember me</label>
                                        <a href="{% url 'forgotpass' %}">Forgot Password</a>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-success">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block myblock %}
            
        {% endblock %}
        <div class="row bg-primary text-light p-5">
            <div class="col-md-4 " style="border-right:2px solid white">
                <h4>Lorem Ipsum</h4>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perferendis odio sapiente ad. Odit ratione suscipit aut fuga laborum. Aspernatur modi omnis illum amet nobis iure corporis cumque quis tempore!</small>
            </div>
            <div class="col-md-4" style="border-right:2px solid white">
                <ul>
                    <li>link 1</li>
                    <li>link 2</li>
                    <li>link 3</li>
                    <li>link 4</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>link 1</li>
                    <li>link 2</li>
                    <li>link 3</li>
                    <li>link 4</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>