{% extends "Base.html" %}
{% load static %}
{% block head %}
    <style>
       
    </style>    

{% endblock %}
{% block myblock %}
{% if user.is_superuser %}
    <h1 class="jumbotron my-3">YOU ARE NOT ALLOWED HERE</h1>
{% else %}  
{% if items|length ==  0 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron alert alert-danger">
                    &times;YOUR SHOPPING CART IS EMPTY!!!
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid p-0" style="background: url('/static/images/lapii4.jpg'); background-size: 100% 100%;">
        <div class="row py-5 " style="background: rgba(0, 0,0,0.5);">
            <div class="col-md-12 text-center text-light my-4 ">
                {% if status %}
                    <h1>{{status}}</h1>
                {% else %}
                    <h1>MY Cart({{items|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row py-4">
            <div class="col-md-9 mx-auto mt-5" style="box-shadow: 0px 0px 20px rgb(78, 19, 78);">
                {% if msz %}
                    <div class="{{cls}}">{{msz}}</div>
                {% endif %}

                <table class="table ">
                    <thead>
                        <tr>
                            <th>IMAGE</th>
                            <th>PRODUCT NAME</th>
                            <th>PRODUCT PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                            <tr id="row{{i.id}}">
                                <td><img src="/media/{{i.product.product_image}}" style="height: 120px; width: 200px;" alt=""></td>
                                <td>{{i.product.product_name}}</td>
                                <td>  <del id="pp{{i.id}}">&#8377; {{i.product.product_price}}</del>  &#8377; <span id="sp{{i.id}}">{{i.product.sale_price}}</span></td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <i class="fa fa-plus bg-success p-1 text-light rounded-circle" onclick="change_quan('{{i.id}}','plus')"></i>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" id="cart{{i.id}}" value="{{i.quantity}}" class="form-control" name="" id="">
                                        </div>
                                        <div class="cool-md-3">
                                            <i class="fa fa-minus bg-danger p-1 text-light rounded-circle" onclick="change_quan('{{i.id}}','minus')"></i>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </td>
                                <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger"><i class="fa fa-trash"> Remove</i></button></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="col-md-3 my-5" >
                <div style="box-shadow: 0px 0px 20px rgb(78, 19, 78);">
                <h2 class="text-center">CHECKOUT</h2>
                <table class="table table-striped table-hover"  >
                    <tr>
                        <td>ITEM TOTAL</td>
                        <td id="item_total"></td>
                    </tr>
                    <tr>
                        <td>OFFERED PRICE</td>
                        <td id="disc"></td>
                    </tr>
                    <tr>
                        <td>QUANTITY</td>
                        <td id="quantity"></td>
                    </tr>
                    <tr>
                        <td>YOU SAVED</td>
                        <td id="offer"></td>
                    </tr>
                    <tr>
                        <td>DELIVERY</td>
                        <td >free</td>
                    </tr>
                    <tr >
                        <td>GRAND TOTAL</td>
                        <td id="grand_total"></td>
                    </tr>
                </table>
                <div>
                    <a href="{% url 'process_payment' %}" class="btn btn-success btn-block btn-sm">PROCEED TO PAY  <span id="btamp"></span></a>
                </div>
            </div>   
            </div>
            
           
        </div>
    </div>
    <script>
        function grandTotal(){
            $.ajax({
                url:"{% url 'get_cart_data' %}",
                type:'get',
                success:function(data){
                    p = Math.round(100-((data.offer/data.total)*100),2)
                    save = data.total-data.offer;
                    $("#item_total").html("&#8377;"+data.total)
                    $("#disc").html("&#8377;"+data.offer)
                    $("#offer").html("&#8377;"+save+"<span class='text-success'>("+p+"%)</span>")
                    $("#quantity").html(data.quan+"Items")
                    $("#grand_total").html("&#8377;"+data.offer)
                    $("#btamp").html("&#8377;"+data.offer)
                }
            })
        }
        grandTotal()

        function change_quan(id,action){
            let old = $("#cart"+id).val();
            
            quan = 0
            if(action=="plus"){
                quan += parseInt(old)+1;
            }else{
                quan += parseInt(old)-1;
            }
            
            $("#cart"+id).val(quan);

            $.ajax({
                url:"{% url 'change_quan' %}",
                type:"get",
                data:{cid:id,quantity:quan},
                success:function(data){
                    grandTotal();
                    if(data==0){
                        remove_cart(id);
                    }
                    
                }
            })
        }
        function remove_cart(id){
            $.ajax({
                url:"{% url 'change_quan' %}",
                data:{delete_cart:id},
                success:function(data){
                    grandTotal();
                    $("#row"+id).hide();
                }
            })
        }
    </script>
{% endif %}

    {% endif %}

{% endif %}    

{% endblock %}