{% extends "dashboard_base.html" %}
{% block dashboard %}
<div class="row">
    <div class="col-md-5 mx-auto bg-light my-5 p-5">
        <form action="" method="POST">
            {% csrf_token %}
            <h1 class="text-center">Get Your Password</h1>
            <hr>
            {% if msz %}
                <div class="alert {{col}}">{{msz}}</div>
            {% endif %}
        <div class="form-group">
            <label for="">Current Password</label>
            <input type="password" class="form-control" name="cpwd" id="" required>
        </div>
        <div class="form-group">
            <label for="">New Password</label>
            <input type="password" class="form-control" name="npwd" id="pas" onkeyup="check_pass()" required>
        </div>
        <div class="form-group">
            <label for="">Conform New Password</label>
            <input type="password" class="form-control" name="" id="cpas" onkeyup="check_pass()" required >
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary rounded-pill" value="Change Password" name="" id="subbtn">
        </div>
    </form>
    </div>
</div>
<script>
    function check_pass(){
        let p= $("#pas").val();
        let cp= $("#cpas").val();
        
        if(p==cp){
            $("#pas").css("border","2px  solid green");
            $("#cpas").css("border","2px  solid green");
            $("#subbtn").removeAttr("disabled");

        }else{
            $("#pas").css("border","2px  solid red");
            $("#cpas").css("border","2px  solid red");
            $("#subbtn").attr("disabled","disabled");
        }
    }
</script>


{% endblock %}