{% extends 'Base.html'%}
{% block myblock %}
<div class="row ">
    <div class="col-md-12 text-center bg-info text-light py-5">
        <h1><strong>CONTACT PAGE</strong></h1>
    </div>
    <div class="col-md-6 mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119526878!2d76.69247175092309!3d30.716822693359777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1580963115905!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-6 mt-5">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label><strong>NAME</strong></label>
                <input type="text" class="form-control" name="name" placeholder="ENTER YOUR NAME">
            </div>
            
            <div class="form-group">
                <label><strong>CONTACT NUMBER</strong></label>
                <input type="text" class="form-control" name="cnct" placeholder="ENTER CONTACT NUMBER ">
            </div>
            <div class="form-group">
                <label><strong>SUBJECT</strong></label>
                <input type="text" class="form-control" name="subject" placeholder="SUBJECT">
            </div>
            <div class="form-group">
                <label><strong>MESSAGE</strong></label>
                <textarea class="form-control" name="msg" rows="5"></textarea>
            </div>
            <div class="form-group">
                
                <input type="submit" class="btn btn-info btn-block rounded-pill" value="send message">
            </div>
        </form>
    </div>
</div>
<div class="row"> 
    <div class="col-md-12">
        <h1 class="text-center">Previous Feedback</h1>
        <h4 class="text-center"><em>Total:{{messages|length}}</em></h4>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
               {% for i in messages %}
                  <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.contact_number}}</td>
                      <td>{{i.subject}}</td>
                      <td>{{i.message}}</td>
                      <td>{{i.added_on}}</td>
                  </tr>
               {% endfor %}
            </tbody>
        </table>    
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}")
</script>
{% endif %}
{% endblock %}