{% extends "dashboard_base.html" %}
{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto p-4">
        <div class="card shadow shadow-lg">
            <div class="card-body">
                <h3 class="text-danger m-3 ">Are you sure want to delete???</h3>
                <img src="/media/{{product.product_image}}" " style="height: 300px; width:100%" alt="">
                <h4 class="text-center">{{product.product_name}}</h4>
                <div class="">
                    <a href="{% url 'delete_product' %}?pid={{product.id}}&&action=confirm" class="btn btn-danger m-5">Confirm Delete</a>
                    <a href="{% url 'my_products' %}" class="btn btn-primary m-5">Cancel</a>
                </div>
            </div>
        </div>         
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/my_products/"
</script>

{% endif %}
{% endblock %}