{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
    <style>
        .bg-img{
            background: url('/static/images/cover1.jpg');background-size: 100% 100%;
        }
    </style>    
{% endblock %}
{% block dashboard %}
<div class="row" >
    <div class="col-md-12 bg-img py-5 text-center text-light">
       <h1>My Profile </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto p-3 bg-light my-2">
        <div class="text-center">
            {% if data.profile_pic %}
            <img src="/media/{{data.profile_pic}}" style="height: 150px; width:150px;border-radius:50%" alt="">
            {% else %}
            <img src="{% static 'images/user.png' %}" style="height: 150px; width:150px;border-radius:50%" alt="">
            {% endif %}
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if status %}
                <div class="alert alert-primary">{{status}}</div>
            {% endif %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label> First Name</label>
                        <input type="text" name="fname" id="" class="form-control" placeholder="First Name" value="{{user.first_name}}">
                    </div>
                    <div class="col-md-6">
                        <label> Last Name</label>
                        <input type="text" name="lname" id="" class="form-control" placeholder="Last Name" value="{{user.last_name}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label> Email</label>
                        <input type="email" name="email" id="" class="form-control" placeholder="Enter Email" value="{{user.email}}">
                    </div>
                    <div class="col-md-6">
                        <label>Profile Picture</label>
                        <input type="file" name="image" id="" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Contact Number</label>
                        <input type="number" value="{{data.Contact_Number}}" name="contact" id="" class="form-control" placeholder=" Enter Contact Number" pattern="[0-9]{10}" title="Enter only 10 digits">
                    </div>
                    <div class="col-md-6">
                        <label> Age(In Year)</label>
                        <input type="number" value="{{data.age}}" name="age" id="" class="form-control" placeholder="Enter ur Age"  min="15" max="90">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label> City</label>
                        <input type="text" name="city" value="{{data.city}}" id="" class="form-control" placeholder="Enter ur City Name">
                    </div>
                    <div class="col-md-6">
                        <label>Gender</label>
                        <select name="gender" id="">
                            <option value="male">Male</option>
                            {% if data.gender == "female" %}
                            <option value="female" selected>Female</option>
                            {% else %}
                            <option value="female" >Female</option>
                            {% endif %}

                            {% if data.gender == "others" %}
                            <option value="others" selected>Others</option>
                            {% else %}
                            <option value="others">Others</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Occupation</label>
                <input type="text" name="occ" value="{{data.occupation}}" id="" placeholder="Enter Occupation" class="form-control">
            </div>
            <div class="form-group">
                <label for="">About You</label>
                <textarea name="about" id=""  cols="15" rows="5" placeholder="About for u" class="form-control">{{data.about}}</textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary rounded-pill name="" id="">
            </div>
            
            
        </form>
    </div>
</div>


{% endblock %}