{% extends "Base.html" %}
{% block myblock %}
{% block head %}
    <style>
        .spinner{
            height: 100px;width: 100px;border: 10px solid gray; border-bottom:10px solid blue;
            animation:ani 1s linear infinite;border-radius:50%;margin:auto;
        }
        @keyframes ani {
            form{transform: rotate(0deg)}
            to{transform: rotate(360deg)}
            
        }
    </style>

{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ">
                <div class="my-5 p-5" style="box-shadow: 0px 0px 25px black;">
                    <h1>Reset Your Password</h1>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div id="result"></div>
                        <div class="form group">
                            <label for=""> ENTER YOUR NAME</label>
                            <input type="text" class="form-control" id="un" name="username" placeholder="Enter Your Username" name="" id="">
                        </div>
                        <button type="button" class="btn btn-primary mt-3" onclick="getpass()" id="continue">Click for Forgot password</button>
                        <div class="mt-2" style="display: none;" id="spin">
                            <div class="spinner"></div>
                        </div>
                        <div class="form group" style="display: none;" id="afterotp">
                            <label for=""> ENTER YOUR OTP</label>
                            <input type="number" class="form-control" id="uotp" placeholder="Enter Your otp" name="" >
                            <button onclick="matchotp()" type="button" class="btn btn-info mt-3">verify OTP</button>
                        </div>
                        <div style="display: none;" id="changepass">     
                            <div class="form-group">
                                <label for="">Enter new password</label>
                                <input type="password" name="npass" class="form-control" id="" placeholder="Enter your new password">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Change my password" class="btn btn-success">
                            </div>
                        </div>    
                        <input type="hidden" name="" id="realotp">
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
    function getpass(){
        $("#spin").show();
        let username = $("#un").val();
        $.ajax({
            url:"{% url 'reset_password' %}",
            type:"get",
            data:{username:username},
            success:function(data){
               $("#spin").hide();
               if(data.status=="failed"){
                   $("#result").html("<p class='alert alert-danger'>NO user  registered with this username</p>");
               }
               else if(data.status=="error"){
                   $("#result").html("<p class='alert alert-danger'> Could not send email to"+data.email+"Somthing went wrong</p>");
               }
               else if(data.status=="sent"){
                   $("#result").html("<p class='alert alert-success'> An OTP sent to your registered Email ID:"+data.email+"</p>"); 
                   $("#continue").hide();
                   $("#afterotp").slideDown(1000);
                   $("#realotp").val(data.rotp)
                }
            }
        })

    }
    function matchotp(){
       uotp = $("#uotp").val();
       rotp = $("#realotp").val();
       
       if(uotp==rotp){
           $("#afterotp").hide()
           $("#changepass").fadeIn(1000);
           $("#result").html("<p class='alert alert-success'>Validation Success!!! </p>")
       }else{
           $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>")
       }
    }
</script>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>

{% endif %}
{% endblock %}