{% extends "base.html"%}
{% load static %}
{% block head %}
<style>
    h1{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;color: blue;
    }
    .myimg{
        height: 300px;
    }
    .box:hover{
        height: 100%; width: 100%;background: rgba(177, 56, 127, 0.5);color: white;text-align: justify;
    }
   
</style>
{% endblock %}
{% block myblock %}
    <!-- <h1><strong>Home Page</strong></h1> -->
    <div class="row p-5 " style="background: url('/static/images/lapii3.jpg'); background-size: 100% 100%;">
        <div class="col-md-8 mx-auto my-5">
            <form action="{% url 'all_products' %}" method="get">
            
                <div class="row " >
                    
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Search by Pruduct Name...." name="qry" id="">
                    </div>
                    <!-- <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Search by Price...." name="price" id="">
                    </div> -->
                    <div class="col-md-4">
                        <button type="submit"  class="btn btn-success">Search</button>
                    </div>
                </div>
            
        </form>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>our categories({{category|length}})</h1>
        </div>
        {% for c in category %}
        <div class="col-md-4 p-4 text-center">
            <div style ="box-shadow: 0px 0px 12px black;background: url('/media/{{c.cover_pic}}'); background-size:100% 100%"  class="myimg">
                <!-- <img src="/media/{{c.cover_pic}}" height="200"> -->
                <a href="{% url 'all_products' %}?cat={{c.id}}">
                    <div  class="box" style="height: 300px;">
                        <h1>{{c.name}}</h1>
                        <p>{{c.description}}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

    
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Previous Feedback</h1>
            <h4 class="text-center"><em>Total:{{messages|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                   {% for i in messages %}
                      <tr>
                          <td>{{i.id}}</td>
                          <td>{{i.name}}</td>
                          <td>{{i.contact_number}}</td>
                          <td>{{i.subject}}</td>
                          <td>{{i.message}}</td>
                          <td>{{i.added_on}}</td>
                      </tr>
                   {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
    {% if status %}
        <script>
            alert("{{status}}");
            window.location="/"
        </script>

    {% endif %} 
{% endblock %}