{% extends "dashboard_base.html" %}
{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="alert alert-primary">Dashboard &gt; My Profile ({{products|length}})</h2>
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Product Seller</th>
                        <th>Product Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td>{{p.product_name}}</td>
                            <td><img src="/media/{{p.product_image}}" style="height: 70px; width:70px;" alt=""></td>
                            <td>{{p.seller.first_name}} {{p.seller.last_name}}</td>
                            <td>
                                <button class="btn btn-success"  data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye"></i> View </button>
                                <a href="{% url 'update_product' %}?pid={{p.id}}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit </a>
                                <a href="{% url 'delete_product' %}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="m{{p.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3>Product Details</h3>
                                        <button class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <img src="/media/{{p.product_image}}" style=" border: 2px solid red; height: 200px; width:200px;" alt="">
                                        <h2> <a href="{% url 'single_product' %}?pid={{p.id}}"> {{p.product_name}}</a></h2>
                                        <p>{{p.product_category.name}}</p>
                                        <p>
                                            <del>&#8377; {{p.product_price}}</del>
                                            <strong>&#8377; {{p.sale_price}}</strong>
                                        </p>
                                        <p>
                                            {{p.details}}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'single_product' %}?pid={{p.id}}" class="btn btn-success">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}