{% extends 'base.html' %}
{% block myblock %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto my-3 p-3 text-center" style="box-shadow: 0px 0px 10px gray;">
            <img src="{% static 'images/success.gif' %}" style="height: 400px; width: 400px;" alt="">
            <h1 class="alert alert-success my-3">PAYMENT SUCCESSFULLY</h1>
            <div class="my-2">
                <a href="{% url 'add_to_cart' %}" class="btn btn-warning">Continue Shopping</a>
                <a href="{% url 'cust_dashboard' %}" class="btn btn-primary">Go To Dashboard</a>
            </div>
        </div>
    </div>
</div>

{% endblock %} 