{% extends 'base.html' %}
{% block myblock %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto p-2 text-center" style="box-shadow: 0px 0px 10px gray;">
            <img src="{% static 'images/cancel.gif' %}" style="height: 300px; width: 300px;" alt="">
            <h1 class="alert alert-success">PAYMENT FAILED</h1>
            <div class="my-2">
                <a href="{% url 'add_to_cart' %}" class="btn btn-warning">Continue Shopping</a>
                <a href="{% url 'cust_dashboard' %}" class="btn btn-primary">Go To Dashboard</a>
            </div>
        </div>
    </div>
</div>

{% endblock %} 