{% extends 'base.html' %}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 text-center">
            <h1 class="text-center">Click Here To Continue</h1>
            {{form.render}}
        </div>
    </div>
</div>

{% endblock %} 