{% extends "base.html "%}
{% load static %}
{% block myblock %}
<div class="row">
    <div class="col-md-6" style="background:url('/static/images/stu11.jpg');background-size:100% 100%">
        <div  style="background: rgba(231, 58, 145, 0.5);" class="h-100%" ></div>
    </div>
    <div class="col-md-6">
        <h1>Sign Up Here</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label> First Name</label>
                        <input type="text" name="first" id="" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label> Last Name</label>
                        <input type="text" name="last" id="" class="form-control" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p id="result"></p>
            </div>
            <div class="form-group">
               <div class="row">
                   <div class="col-md-12">
                       <label for="">User Name</label>
                       <input type="text" name="uname" id="username" onkeyup="checkuser()" placeholder="Enter User Name" class="form-control"> 
                   </div>
                   <div class="col-md-12">
                       <label for="">Password</label>
                       <input type="password" name="password" id="" placeholder="Enter Password" class="form-control"> 
                   </div>
                   
                   <div class="col-md-12">
                       <label for="">Email</label>
                       <input type="email" name="email" id="" placeholder="Enter Email" class="form-control"> 
                   </div>
                   <div class="col-md-12">
                       <label for="">Contact Number</label>
                       <input type="number" name="contact" id="" placeholder="Enter Contact No." class="form-control"> 
                   </div>
                   <div class="col-md-12">
                       <label for="">User Name</label>
                      <select name="utype" id="" class="form-control">
                          <option value="cust">I am Customer</option>
                          <option value="sell">I am seller</option>
                      </select>
                   </div>
                   <div class="col-md-5">
                   <input type="submit" value="Sign Up" class="btn btn-success" name="" id="submitbtn">
                </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data=="Exists"){
                    $("#result").html("This is already Exists").addClass("text-danger");
                    $("#username").addClass("alert alert-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("#username").removeClass("alert alert-danger");
                    $("#submitbtn").removeAttr("disabled");
                }
            }
        })
    }
</script>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>

{% endif %}

{% endblock %}