{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
    <style>
        .bg-img{
            background: url('/static/images/cover1.jpg');background-size: 100% 100%;
        }
    </style>    
{% endblock %}
{% block dashboard %}
<div class="row" >
    <div class="col-md-12 bg-img py-5 text-center text-light">
       <h1>Dashboard &gt; Email </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6  p-3 bg-light my-5 mx-auto shadow shadow-lg">
        {% if message %}
            <div class="alert {{cls}}">{{message}}</div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">To</label>
                <input type="text" class="form-control"  placeholder="To" name="to" id="">
            </div>
            <div class="form-group">
                <label for="">Subject</label>
                <input type="text" class="form-control"  placeholder="subject" name="sub" id="">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea name="msz" id="" cols="" placeholder="Enter ur Message" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <input type="submit"  value="Send Email" class="btn btn-outline-primary rounded-pill" name="" id="">
            </div>
        </form>
       
    </div>
</div>


{% endblock %}