{% extends "Base.html" %}
{% load static %}
{% block head %}
    <style>
        th{
            width: 40%;
        }
    </style>    

{% endblock %}
{% block myblock %}
    <div class="container-fluid " style="background: url('/static/images/c2.jpg'); background-size: 100% 100%;">
        <div class="row py-5 " style="background: rgba(0, 0,0,0.5);">
            <div class="col-md-12 text-center text-light my-5 py-5">
                <h1>Product Details</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-md-7">
               <div class="text-center">
                <img src="/media/{{product.product_image}}" alt="No Image" style="height: 300px; width:60%;">
               </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>PRODUCT ID</th>
                            <td>{{product.id}}</td>
                        </tr>
                        <tr>
                            <th>PRODUCT NAME</th>
                            <td>{{product.product_name}}</td>
                        </tr>
                        <tr>
                            <th>PRODUCT PRICE</th>
                            <td> <del> &#8377;{{product.product_price}}</del></td>
                        </tr>
                        <tr>
                            <th>OFFERED PRICE</th>
                            <td>&#8377;{{product.sale_price}}
                                <script>
                                    let t = "{{product.product_price}}";
                                    let s = "{{product.sale_price}}";
                                    let dis = 100-((s/t)*100);
                                    document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>")
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <th>PRODUCT DESCRIPTION</th>
                            <td>{{product.details}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Seller Details</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>First Name</th>
                                <td>{{product.seller.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{product.seller.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{product.seller.email}}</td>
                            </tr>
                            <tr>
                                <th>Members Since</th>
                                <td>{{product.seller.date_joined}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h2 class="alert alert-secondary">Category Details</h2>
                <table class="table">
                    <tr>
                        <th>Category ID</th>
                        <td>{{product.product_category.id}}</td>
                    </tr>
                    <tr>
                        <th>Category Name</th>
                        <td>{{product.product_category.name}}</td>
                    </tr>
                    <tr>
                        <th>Category Image</th>
                        <td><img src="/media/{{product.product_category.cover_pic}}" style="height: 200px; width:200px;" alt=""></td>
                    </tr>
                    <tr>
                        <th>Category description</th>
                        <td>{{product.product_category.description}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}