{% extends 'dashboard_base.html' %}
{% load static %}
{% block head %}
<style>
    form .row{
        margin-top: 2%;
    }
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid px-0" >
    <div class="row P-0">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">EDIT PRODUCT</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="text-center">
                                    <img src="/media/{{product.product_image}}" style="height: 300px; width:50%" alt="">
                                </div>
                                <div class="form-group">
                                <label for="" class="mt-5"> <strong> Update Image</strong></label>
                                <input type="file" class="form-control" name="pimg" id="" value="Update Profile">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for=""> <strong> Product Name</strong></label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="pname" value="{{product.product_name}}" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> <strong> Product Category</strong></label>
                            </div>
                            <div class="col-md-6">
                                <select name="pcat" class="form-control" id="">
                                    {% for i in category %}
                                        {% if i.id == product.product_category.id %}
                                        <option value="{{i.id}}" selected>{{i.name}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> <strong> Product Price</strong></label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="pp" id="" value="{{product.product_price}}"  class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> <strong> Sale Price</strong></label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="sp" id="" value="{{product.sale_price}}" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> <strong> Product Details</strong></label>
                            </div>
                            <div class="col-md-6">
                                <textarea name="des" id="" cols="" class="form-control"  rows="6">{{product.details}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <input type="submit" class="form-control btn btn-primary rounded-pill" value="UPDATE PRODUCTS" name="" id="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/update_product/?pid={{id}}";
</script>    
{% endif %}

{% endblock %}